.sg-navbar {
  position: relative;
  z-index: 100;
  border-bottom: .2rem solid #f0f0f0;
  background-color: #ffffff; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out; }
  .row-offcanvas-right {
    right: 0; }
  .row-offcanvas-left {
    left: 0; }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -100%; }
  .row-offcanvas-right.active .sidebar-offcanvas {
    right: -50%; }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -100%; }
  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -50%; }
  .row-offcanvas-right.active {
    right: 50%; }
  .row-offcanvas-left.active {
    left: 50%; }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; } }

@media screen and (min-width: 768px) {
  [data-toggle="sg-offcanvas"] {
    display: none; } }

@media screen and (min-width: 768px) {
  .col.sidebar-offcanvas {
    width: 200px; } }

.sg-sidebar {
  margin-top: 56px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: calc(50% - 15px);
  height: calc(100vh - 56px);
  overflow-y: auto; }
  @media screen and (min-width: 768px) {
    .sg-sidebar {
      left: 0;
      width: 16.666667%; } }

.sg-sidebar a {
  width: 100%;
  color: #888888;
  font-weight: 300; }

.sg-sidebar a:hover,
.sg-sidebar b {
  color: #292b2c; }

.sg-sidebar b {
  font-size: 1.25rem; }

.sg-content {
  padding-top: 4rem; }

.sg-font {
  font-size: 1.5rem; }

.sg-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: .2rem solid #f7f7f7;
  background: #ffffff; }

.sg-example + .sg-example {
  border-top: 0; }

.sg-h2,
.sg-h3 {
  margin-top: -3.5rem;
  padding-top: 5rem;
  font-weight: 300; }

.sg-h2 {
  font-size: 2.75rem;
  color: #292b2c; }

.sg-h3 {
  color: #888888; }

.sg-example + h3 {
  margin-top: 1.5rem; }

.sg-content {
  max-width: 1000px;
  margin: auto; }

.sg-grid-example > .col,
.sg-grid-example > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2); }
