//- Bootstrap 4 Examples

//- Layout
include _grid
include _media-object

//- Content
include _typography
include _tables
include _images
include _figures

//- Components
include _badge
include _code
include _alerts
include _breadcrumb
include _buttons
include _button-group
include _card
include _carousel
include _collapse
include _dropdowns
include _forms
include _input-group
include _jumbotron
include _list-group
include _modal
include _navs
include _navbar
include _pagination
include _popovers
include _progress
include _scrollspy
include _tooltips
