//- Badges

mixin badges
  h1
    | Example heading
    = ' '
    span.badge.badge-default New
  h2
    | Example heading
    = ' '
    span.badge.badge-default New
  h3
    | Example heading
    = ' '
    span.badge.badge-default New
  h4
    | Example heading
    = ' '
    span.badge.badge-default New
  h5
    | Example heading
    = ' '
    span.badge.badge-default New
  h6
    | Example heading
    = ' '
    span.badge.badge-default New

mixin badges-contextual-variations
  span.badge.badge-default Default
  = ' '
  span.badge.badge-primary Primary
  = ' '
  span.badge.badge-success Success
  = ' '
  span.badge.badge-info Info
  = ' '
  span.badge.badge-warning Warning
  = ' '
  span.badge.badge-danger Danger

mixin pill-badges
  span.badge.badge-pill.badge-default Default
  = ' '
  span.badge.badge-pill.badge-primary Primary
  = ' '
  span.badge.badge-pill.badge-success Success
  = ' '
  span.badge.badge-pill.badge-info Info
  = ' '
  span.badge.badge-pill.badge-warning Warning
  = ' '
  span.badge.badge-pill.badge-danger Danger
