//- Figures

mixin figure
  figure.figure
    img.figure-img.img-fluid.rounded(data-src='holder.js/400x300', alt='400x300', style='width: 400px; height: 300px;', data-holder-rendered='true')

    figcaption.figure-caption A caption for the above image.

mixin figure-right
  figure.figure
    img.figure-img.img-fluid.rounded(data-src='holder.js/400x300', alt='400x300', style='width: 400px; height: 300px;', data-holder-rendered='true')
    figcaption.figure-caption A caption for the above image.
