//- Grid

mixin grid
  .row.sg-grid-example
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
  .row.sg-grid-example
    .col-md-9 .col-md-9
    .col-md-3 .col-md-3
  .row.sg-grid-example
    .col-md-4 .col-md-4
    .col-md-4 .col-md-4
    .col-md-4 .col-md-4
  .row.sg-grid-example
    .col-md-6 .col-md-6
    .col-md-6 .col-md-6
