//- Images

mixin responsive-image
  img.img-fluid(data-src='holder.js/100px250', alt='100%x250', style='height: 250px; width: 100%; display: block;' data-holder-rendered='true')

mixin thumbnail-image
  img.img-thumbnail(data-src='holder.js/200x200', alt='200x200', style='width: 200px; height: 200px;', data-holder-rendered='true')
