//- Typography

mixin headings
  h1 h1. Bootstrap heading
  h2 h2. Bootstrap heading
  h3 h3. Bootstrap heading
  h4 h4. Bootstrap heading
  h5 h5. Bootstrap heading
  h6 h6. Bootstrap heading

mixin heading-classes
  p.h1 h1. Bootstrap heading
  p.h2 h2. Bootstrap heading
  p.h3 h3. Bootstrap heading
  p.h4 h4. Bootstrap heading
  p.h5 h5. Bootstrap heading
  p.h6 h6. Bootstrap heading


mixin display-headings
  h1.display-1 Display 1
  h1.display-2 Display 2
  h1.display-3 Display 3
  h1.display-4 Display 4

mixin lead
  p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

mixin inline-text-elements
  p
    | You can use the mark tag to
    mark highlight
    |  text.
  p
    del This line of text is meant to be treated as deleted text.
  p
    s This line of text is meant to be treated as no longer accurate.
  p
    ins This line of text is meant to be treated as an addition to the document.
  p
    u This line of text will render as underlined
  p
    small This line of text is meant to be treated as fine print.
  p
    strong This line rendered as bold text.
  p
    em This line rendered as italicized text.

mixin abbreviations
  p
    abbr(title='attribute') attr
  p
    abbr.initialism(title='HyperText Markup Language') HTML

mixin blockquotes
  blockquote.blockquote
    p.mb-0
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    footer.blockquote-footer
      | Someone famous in
      cite(title='Source Title') Source Title

mixin unordered-list
  ul
    li Lorem ipsum dolor sit amet
    li Consectetur adipiscing elit
    li Integer molestie lorem at massa
    li Facilisis in pretium nisl aliquet
    li
      | Nulla volutpat aliquam velit
      ul
        li Phasellus iaculis neque
        li Purus sodales ultricies
        li Vestibulum laoreet porttitor sem
        li Ac tristique libero volutpat at
    li Faucibus porta lacus fringilla vel
    li Aenean sit amet erat nunc
    li Eget porttitor lorem

mixin ordered-list
  ol
    li Lorem ipsum dolor sit amet
    li Consectetur adipiscing elit
    li Integer molestie lorem at massa
    li Facilisis in pretium nisl aliquet
    li
      | Nulla volutpat aliquam velit
      ol
        li Phasellus iaculis neque
        li Purus sodales ultricies
        li Vestibulum laoreet porttitor sem
        li Ac tristique libero volutpat at
    li Faucibus porta lacus fringilla vel
    li Aenean sit amet erat nunc
    li Eget porttitor lorem

mixin list-unstyled
  ul.list-unstyled
    li Lorem ipsum dolor sit amet
    li Consectetur adipiscing elit
    li Integer molestie lorem at massa
    li Facilisis in pretium nisl aliquet
    li
      | Nulla volutpat aliquam velit
      ul
        li Phasellus iaculis neque
        li Purus sodales ultricies
        li Vestibulum laoreet porttitor sem
        li Ac tristique libero volutpat at
    li Faucibus porta lacus fringilla vel
    li Aenean sit amet erat nunc
    li Eget porttitor lorem

mixin list-inline
  ul.list-inline
    li.list-inline-item Lorem ipsum
    li.list-inline-item Phasellus iaculis
    li.list-inline-item Nulla volutpat

mixin definition-list
  dl
    dt Description lists
    dd A description list is perfect for defining terms.
    dt Euismod
    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.
    dd Donec id elit non mi porta gravida at eget metus.
    dt Malesuada porta
    dd Etiam porta sem malesuada magna mollis euismod.

mixin definition-list-grid
  dl.row
    dt.col-sm-3 Description lists
    dd.col-sm-9 A description list is perfect for defining terms.
    dt.col-sm-3 Euismod
    dd.col-sm-9 Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    dd.col-sm-9.offset-sm-3 Donec id elit non mi porta gravida at eget metus.
    dt.col-sm-3 Malesuada porta
    dd.col-sm-9 Etiam porta sem malesuada magna mollis euismod.
    dt.col-sm-3.text-truncate Truncated term is truncated
    dd.col-sm-9
      | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    dt.col-sm-3 Nesting
    dd.col-sm-9
      dl.row
        dt.col-sm-4 Nested definition list
        dd.col-sm-8 Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.
