//- Style Guide Navigation

nav.navbar.navbar-toggleable-md.fixed-top.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarStyleGuide', aria-controls='navbarStyleGuide', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#') Atomic Boot Pug
  #navbarStyleGuide.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="https://github.com/SimonPadbury/Atomic-Boot-Pug")
          i(class="fa fa-github", aria-hidden="true")
          |  GitHub Repository
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#about') About
      li.nav-item
        a.nav-link(href='#foundation') Foundation
      li.nav-item
        a.nav-link(href='#basics') Basics
      li.nav-item
        a.nav-link(href='#buttons') Buttons
      li.nav-item
        a.nav-link(href='#forms') Forms
      li.nav-item
        a.nav-link(href='#layout') Layout
      li.nav-item
        a.nav-link(href='#components') Components
