//- Styleguide Sidebar (Navigation)

.nav.flex-column(style="margin-bottom:20px;")
  a.nav-link(href="#about")
    b About

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#foundation")
    b Foundation
  a.nav-link(href="#color-swatch") Color Swatch
  a.nav-link(href="#font-stacks") Font Stacks

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#basics")
    b Basics
  a.nav-link(href="#headings") Headings
  a.nav-link(href="#text-elements") Text Elements
  a.nav-link(href="#address") Address
  a.nav-link(href="#blockquote") Blockquote
  a.nav-link(href="#code") Code
  a.nav-link(href="#lists") Lists
  a.nav-link(href="#tables") Tables
  a.nav-link(href="#images") Images
  a.nav-link(href="#figures") Figures
  a.nav-link(href="#progress-bars") Progress Bars

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#buttons")
   b Buttons
  a.nav-link(href="#buttons") Buttons

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#forms")
   b Forms
  a.nav-link(href="#forms") Forms

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#layout")
   b Layout
  a.nav-link(href="#grid") Grid
  a.nav-link(href="#media-object") Media Object

.nav.list-group(style="margin-bottom:20px;")
  a.nav-link(href="#components")
    b Components
  a.nav-link(href="#alerts") Alerts
  a.nav-link(href="#badge") Badge
  a.nav-link(href="#breadcrumb") Breadcrumbs
  a.nav-link(href="#cards") Cards
  a.nav-link(href="#carousel") Carousel
  a.nav-link(href="#drodowns") Dropdowns
  a.nav-link(href="#forms-advanced") Forms Advanced
  a.nav-link(href="#jumbotron") Jumbotron
  a.nav-link(href="#list-groups") List Groups
  a.nav-link(href="#navbar") Navbar
  a.nav-link(href="#navs") Navs (&amp; Tabs)
  a.nav-link(href="#modal") Modal
  a.nav-link(href="#pagination") Pagination
  a.nav-link(href="#popovers") Popovers
  a.nav-link(href="#scrollspy") Scrollspy
  a.nav-link(href="#tooltips") Tooltips
