p.lead.
  This is the place to introduce your project style guide. But in the meantime, I'm using it for this intro.
p.
  Inspired by Brad Frost's <a href="http://atomicdesign.bradfrost.com/">Atomic Design</a>, Atomic Boot Pug is comprised of a set of Bootstrap 4 demo snippets (tranformed into <a href="https://pugjs.org/api/getting-started.html">Pug</a> mixins) &ndash; essentially as coped from <a href="http://getbootstrap.com">http://getbootstrap.com</a>. You will find these in the <code>pug/bootstrap-4/</code> folder.
p.
  The style guide sections (wrapping the demos and adding a header and a place for your notes) are in the <code>pug/styleguide/</code> folder.
p.
  In addition to the demos you see in <code>index.html</code>, many more mixins can be found on the Pug partials in the <code>pug/styleguide/</code> folder. Swap them into your style guide any way you need. And feel totally free to modify the Bootstrap 4 Pug mixins to make them more relevant for your own style guide.
p.
  Create new sections/ partials/ mixins for demos of your added CSS, scripts and plugins you are including in your project.
p.
  Also, create your own webpage templates and partial templates. For rapid prototyping, you may temporarily include some of the Bootstrap Pug snippets before duplicating and swapping in your own actual content.

.alert.alert-info.
  Kick off your project with Atomic Boot Pug &ndash; and then make your website look less like Bootstrap...!
