.sg-section
  h3#color-swatch.sg-h3 Color Swatch

  //- Your notes, e.g.
    p.
      Notes on usage, etc.

  style.
    .swatch {
      display: inline-block;
      width: 5rem;
      height: 5rem
    }

  .sg-example
    .swatch(style="background-color:#292b2c")
    .swatch(style="background-color:#343a40")
    .swatch(style="background-color:#7b7b7b")
    .swatch(style="background-color:#99979f")
    .swatch(style="background-color:#eceeef")
    .swatch(style="background-color:#f7f7f7")
  .sg-example
    .swatch(style="background-color:#0275d8")
    .swatch(style="background-color:#5cb85c")
    .swatch(style="background-color:#5bc0de")
    .swatch(style="background-color:#f0ad4e")
    .swatch(style="background-color:#d9534f")
