.sg-section
  //- h3#buttons.sg-h3 Buttons

  //- Your notes, e.g.
    p.
      Notes on usage, etc.

  .sg-example
    +buttons

  .sg-example
    +outline-buttons

  .sg-example
    +button-sizing

  .sg-example
    +button-active-disabled

  .sg-example
    +button-group

  .sg-example
    +button-toolbar
