.sg-section
  h3#media-object.sg-h3 Media Objects

  //- Your notes, e.g.
    p.
      Notes on usage, etc.

  .sg-example
    +media-object

  .sg-example
    +media-object-nesting

  .sg-example
    +media-object-order
