.sg-section
  h3#navs.sg-h3 Navs (&amp; Tabs)

  //- Your notes, e.g.
    p.
      Notes on usage, etc.

  .sg-example
    +ul-nav

  .sg-example
    +nav-tabs-2

  .sg-example
    +nav-tabs-javascript

  .sg-example
    +nav-pills-2
