.sg-section
  h3#scrollspy.sg-h3 Scrollspy

  //- Your notes, e.g.
    p.
      Notes on usage, etc.

  style.
    .scrollspy-example {
      position: relative;
      height: 200px;
      margin-top: .5rem;
      overflow: auto;
    }

  .sg-example
    +scrollspy
